---
import ScrollBox from "../components/ScrollBox";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 style="text-align: center;">Animaciones</h1>

  <nav>
    <a href="/scroll-box-animation" class="bg-green-400 px-4 py-2 hover:bg-green-400/80"
      >Scroll para ver la animación</a
    >

	
  </nav>
</Layout>
